[submodule ".config/zsh/custom/themes/headline"]
	path = .config/zsh/custom/themes/headline
	url = https://github.com/Moarram/headline.git
[submodule ".config/zsh/ohmyzsh"]
	path = .config/zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
