/* colors */

* ***REMOVED***
  al: ***REMOVED***00000000;
  bg: ***REMOVED***E5E5E5FF;
  bga:***REMOVED***FFFFFFFF;
  fg: ***REMOVED***000000A6;
  ac: ***REMOVED***80808066;
  el: ***REMOVED***55555526;
  se: ***REMOVED***1A73E9FF;
***REMOVED***
