/* colors */

* ***REMOVED***
  al: ***REMOVED***00000000;
  bg: ***REMOVED***1F1F1FFF;
  bga:***REMOVED***e5393533;
  bar:***REMOVED***FFFFFFFF;
  fg: ***REMOVED***FFFFFFFF;
  ac: ***REMOVED***e53935FF;
***REMOVED***
