/* colors */

* ***REMOVED***
  al: ***REMOVED***00000000;
  bg: ***REMOVED***212B30FF;
  bga:***REMOVED***263035FF;
  fg: ***REMOVED***C4C7C5FF;
  ac: ***REMOVED***EC407AFF;
  se: ***REMOVED***4DD0E1FF;
***REMOVED***
