/* colors */

* ***REMOVED***
  al:  ***REMOVED***00000000;
  bg:  ***REMOVED***141C21FF;
  bg1: ***REMOVED***FFAB91FF;
  bg2: ***REMOVED***FF8A65FF;
  bg3: ***REMOVED***FF7043FF;
  fg:  ***REMOVED***FFFFFFFF;
***REMOVED***
