/* colors */

* ***REMOVED***
  al: ***REMOVED***00000000;
  bg: ***REMOVED***494949FF;
  bga:***REMOVED***444444FF;
  fg: ***REMOVED***EAEAEAFF;
  ac: ***REMOVED***536579FF;
  bd:	#000000FF;
***REMOVED***
