/* colors */

* ***REMOVED***
  al: ***REMOVED***00000000;
  bg: ***REMOVED***3B4252FF;
  bga:***REMOVED***4C566AFF;
  fga:***REMOVED***E5E9F0FF;
  fg: ***REMOVED***ECEFF4FF;
  ac: ***REMOVED***A3BE8CFF;
  se: ***REMOVED***A3BE8C40;
***REMOVED***
