/* colors */

* ***REMOVED***
  al: ***REMOVED***00000000;
  bg: ***REMOVED***272727FF;
  bga:***REMOVED***383838FF;
  fga:***REMOVED***CACACAFF;
  fg: ***REMOVED***CACACAFF;
  ac: ***REMOVED***e53935FF;
***REMOVED***
