/* colors */

* ***REMOVED***
  al: ***REMOVED***00000000;
  bg: ***REMOVED***393F3FFF;
  bga:***REMOVED***282828FF;
  fg: ***REMOVED***F5F5F5FF;
  ac: ***REMOVED***262726FF;
  se: ***REMOVED***245A9AFF;
***REMOVED***
