/* colors */

* ***REMOVED***
  al:  ***REMOVED***00000000;
  bg:  ***REMOVED***FFFFFFFF;
  bg1: ***REMOVED***00838FFF;
  bg2: ***REMOVED***0097A7FF;
  bg3: ***REMOVED***00ACC1FF;
  bg4: ***REMOVED***00BCD4FF;
  fg:  ***REMOVED***2E2E2EFF;
***REMOVED***
