/* colors */

* ***REMOVED***
  al: ***REMOVED***00000000;
  bg: ***REMOVED***1F1F1FFF;
  bga:***REMOVED***ffb30033;
  bar:***REMOVED***1F1F1FFF;
  fg: ***REMOVED***FFFFFFFF;
  ac: ***REMOVED***ffb300FF;
***REMOVED***
