/* colors */

* ***REMOVED***
  al: ***REMOVED***00000000;
  bg: ***REMOVED***0a0a0aBF;
  bga:***REMOVED***0a0a0aFF;
  fg: ***REMOVED***f5f5f5FF;
  ac: ***REMOVED***fdd835FF;
  se: ***REMOVED***fdd8351A;
***REMOVED***
